<div class="popin-edit-status hidden">
  <div class="status-buttons">
    <% if story.status == Project::Status[:DONE] %>
      <div class="button clicked"><%= Project::Status[:DONE] %></div>
    <% else %>
      <%= link_to Project::Status[:DONE], "/project/#{story.project.id}/story/#{story.id}/update_status/#{Project::Status[:DONE]}", :remote => true, :class => 'button' %>
    <% end %>
    
    
    <% if story.status == Project::Status[:DOING] %>
      <div class="button clicked">Project::Status[:DOING]</div>    
    <% else %>
      <%= link_to Project::Status[:DOING], "/project/#{story.project.id}/story/#{story.id}/update_status/#{Project::Status[:DOING]}", :remote => true, :class => 'button' %>
    <% end %>
    
    <% if story.status == Project::Status[:TODO] %>
      <div class="button clicked"><%= Project::Status[:TODO] %></div>      
    <% else %>
      <%= link_to Project::Status[:TODO], "/project/#{story.project.id}/story/#{story.id}/update_status/#{Project::Status[:TODO]}", :remote => true, :class => 'button' %>    
    <% end %>

  </div>
</div>
