<li id="<%= story.id %>" class="story <% if story.parent_story == nil %>epic<%end%>">
  <div class="story-header">
    <span class="points">
      <% if story.points >= 0 %> <%= story.points %> 
      <% else %> ?
      <% end %>
    </span> 

    <div class="title"><%= story.title %></div>

    <%= link_to "X", [story.project, story], :remote => true, :confirm => delete_msg(story), :method => :delete, 
            :class => "button delete", :title => 'delete' %>

    <div class="button new-story" title="new" onclick="_gaq.push(['_trackEvent', 'new-substory-button', 'clicked'])">+</div>
    <div class="new-story form"><%= render :partial => 'stories/form_substory', :locals => {:story => story} %></div>

    <div class="button edit" onclick="_gaq.push(['_trackEvent', 'edit-story-button', 'clicked'])">edit</div>
    <div class="edit form"><%= render :partial => 'stories/form_edit', :locals => {:story => story} %></div>

    <% if story.is_leaf %>
      <% if story.status == "To Do" %>
        <span class="position"><%= story.position %></span>
      <% end %>    
      <span class="status"><%= story.status %></span>      
      <%= render :partial => 'stories/popin_status', :locals => {:story => story} %>
    <% end %>
  </div>

  <div class="attributes">
    <% if story.description != "" %><p class="user-story"><%= story.description %>   </p><%end%>
    <% if story.details     != "" %><p class="details"><%= raw( nl2br(story.details) ) %>       </p><%end%>
    <% if story.value       != "" %><p><strong>Value:</strong> <span class="value"><%= story.value %></span>  </p><%end%>
  </div>

  <% if not story.children_stories.empty? %>
    <%= render :partial => 'stories/substories_list', :locals => { :parent_story => story } %>
  <% end %>
</li>