<li id="<%= story.id %>" class="story <% if story.parent_story == nil %>epic<%end%>">
  <div class="story-header">
    <span class="points">
      <% if story.points >= 0 %> <%= story.points %> 
      <% else %> ?
      <% end %>
    </span> 

    <div class="title"><%= story.title %></div>
	
	
    <%= link_to image_tag("delete_story.png", :border=> 0), [story.project, story], :remote => true, :confirm => delete_msg(story), :method => :delete,:class => "deleteStory", :title => 'delete'  %>
	<div class="editStory" title="edit" onclick="_gaq.push(['_trackEvent', 'edit-story-button', 'clicked'])">
		<%= image_tag("edit_story.png", :border=> 0 , :class => "") %>
	</div>    
	<div class="newStory" title="new" onclick="_gaq.push(['_trackEvent', 'new-substory-button', 'clicked'])">
		<%= image_tag("add_story.png", :border=> 0 , :class => "") %>
    </div>

    

    <% if story.is_leaf %>
      <% if story.status == "To Do" %>
        <span class="position"><%= story.position %></span>
      <% end %>    
      <span class="status"><%= story.status %></span>      
      <%= render :partial => 'stories/popin_status', :locals => {:story => story} %>
    <% end %>
    
    <!-- Formulários Tem que tirar algum pesa demais para gerar  -->
    <div class="formEditStory form">
    		<%= render :partial => 'stories/form_edit', :locals => {:story => story} %>
   	</div>
    <div class="formNewStory form">
    		<%= render :partial => 'stories/form_substory', :locals => {:story => story} %>
    </div> 
  </div>

  <div class="attributes">
    <% if story.description != "" %><p class="user-story"><%= story.description %>   </p><%end%>
    <% if story.details     != "" %><p class="details"><%= raw( nl2br(story.details) ) %>       </p><%end%>
    <% if story.value       != "" %><p><strong>Value:</strong> <span class="value"><%= story.value %></span>  </p><%end%>
  </div>

  <% if not story.children_stories.empty? %>
    <%= render :partial => 'stories/substories_list', :locals => { :parent_story => story } %>
  <% end %>
</li>